body {
    background-color: #0A0B0A;
    color:#F7F7F2;
}

.container {
    width:1400px;
    margin: 0 auto;
}


.introduction {
    border: 2px solid #F7F7F2;
    margin:2px;
    text-align: center;
}